h1 {
    color: red;
}

.btn {
    width: 20%;
}

label {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

#id_title,
#id_subtitle,
#id_body {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

body {
    background-color: gray;
}

.card {
    background-color: rgb(142, 150, 101);
}